In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression

In [2]:
data = pd.read_csv('real_estate_price_size_year.csv')
data.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [3]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [4]:
data.corr()

          price      size      year
price  1.000000  0.862983  0.093014
size   0.862983  1.000000 -0.097678
year   0.093014 -0.097678  1.000000

In [5]:
x = data[['size','year']]
y = data['price']
reg = LinearRegression()
reg.fit(x,y)
print('coff_: ',reg.coef_)
print('intercept_: ', reg.intercept_)

# define funtion of adjusted R2
def adj_r2 (r2, n, p):
    return 1-(1-r2)*(n-1)/(n-p-1)
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]   
print('R2: ', r2)
print('Adjusted R2: ', adj_r2(r2, n, p))

coff_:  [ 227.70085401 2916.78532684]
intercept_:  -5772267.017463278
R2:  0.7764803683276796
Adjusted R2:  0.7718717161282503

In [6]:
#Feature selection
f_statis = f_regression(x,y)[0]
p_value = f_regression(x,y)[1]
print('p_values: ', p_value.round(3))

p_values:  [0.    0.357]

In [8]:
summary = pd.DataFrame(data = data.columns.tolist()[1:], columns=['Features'])
summary['Coefficients'] = reg.coef_
summary['p_values'] = p_value.round(3)
summary

  Features  Coefficients  p_values
0     size    227.700854     0.000
1     year   2916.785327     0.357