# Multiple Linear Regression

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

## Load Data

In [6]:
data = pd.read_csv('1.02. Multiple linear regression.csv')
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [7]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

## Create Linear Regression model

In [9]:
x = data[['SAT','Rand 1,2,3']]
y = data['GPA']
print('x shape: ', x.shape)
print('y shape: ', y.shape)

x shape:  (84, 2)
y shape:  (84,)

In [11]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
print('coff_: ',reg.coef_)
print('intercept_: ', reg.intercept_)

# define funtion of adjusted R2
def adj_r2 (r2, n, p):
    return 1-(1-r2)*(n-1)/(n-p-1)
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]   
print('R2: ', r2)
print('Adjusted R2: ', adj_r2(r2, n, p))

coff_:  [ 0.00165354 -0.00826982]
intercept_:  0.29603261264909353
R2:  0.40668119528142815
Adjusted R2:  0.39203134825134

### calculate adjusted R2
$R^2_{adj.} = 1 - (1-R^2)*\frac{n-1}{n-p-1}$
* n = x.shape[0]
* p = x.sahpe[1]

* The result showed adj_r2 < r2, indicating one or more predictors not important
* So need feature engineering to reduce the # of features
* Example: p_value of a feature (variable) >0.05, not important, can be discarded

In [16]:
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]
adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
adjusted_r2

0.39203134825134

In [17]:
# define funtion of adjusted R2
def adj_r2 (r2, n, p):
    return 1-(1-r2)*(n-1)/(n-p-1)

# Feature Reduction

In [19]:
data.corr()

                 SAT  Rand 1,2,3       GPA
SAT         1.000000   -0.031722  0.637184
Rand 1,2,3 -0.031722    1.000000 -0.046224
GPA         0.637184   -0.046224  1.000000

In [20]:
from sklearn.feature_selection import f_regression
f_statis = f_regression(x,y)[0]
p_value = f_regression(x,y)[1]
print('p_values: ', p_value.round(3))

p_values:  [0.    0.676]

# Create a model summary table of the sklearn linear regression

In [24]:
summary = pd.DataFrame(data = data.columns.tolist()[:-1], columns=['Features'])
summary

     Features
0         SAT
1  Rand 1,2,3

In [25]:
summary['Coefficients'] = reg.coef_
summary['p_values'] = p_value.round(3)
summary

     Features  Coefficients  p_values
0         SAT      0.001654     0.000
1  Rand 1,2,3     -0.008270     0.676

In [29]:
data.dtypes

SAT             int64
Rand 1,2,3      int64
GPA           float64
dtype: object